* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(185, 41%, 84%);
  font-family: "Space Mono";
}
#split {
  text-align: center;
}
.container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;

  .bill {
    padding: 20px;

    .doll {
      #number {
        padding: 10px 20px;
        text-align: right;
        width: 95%;
        border-radius: 5px;
        font-family: "Space Mono";
      }
      img {
        position: absolute;
        top: 118px;
        left: 30px;
      }
    }
    .tip {
      padding-top: 10px;
      .grid {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 150px 150px;
        grid-template-rows: auto auto auto;
        padding: 15px 0;
      }
      button {
        padding: 10px 0;
        border-radius: 5px;
        font-family: 'Space Mono';
      }
      #Custom {
        text-align: right;
        padding: 0 10px;
        border-radius: 5px;
      }
    }
    .People {
      // #nom{
      //     padding: 20px 0;
      // }
      #nomb {
        padding: 10px 20px;
        text-align: right;
        width: 95%;
        border-radius: 5px;
        font-family: "Space Mono";
      }
      img {
        position: absolute;
        top: 412px;
        left: 30px;
      }
    }
  }
  .amount {
    background-color: hsl(183, 100%, 15%);
    margin: 0 20px;
    border-radius: 10px;
    padding: 20px;

    span {
      color: hsl(0, 0%, 100%);
    }
    small {
      color: hsl(184, 14%, 56%);
    }
    .flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .flexi {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

    .tots {
      padding: 20px 0;
    }

    #reset {
      padding: 10px 125px;
      margin: 20px 0;
      background-color: hsl(183, 100%, 15%);
      border-radius: 5px;
      font-family: "Space Mono";
    }
  }
}

@media only screen and (min-width: 1000px) {
  // body{
  //     font-size: 24px;
  // }
  .container {
    // border: red solid;
    // border-radius: 10px;
    margin: 110px 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
  }
  .doll {
    img {
      position: absolute !important;
      top: 36.5% !important;
      left:29% !important;
    }
    #number{
        width: 100% !important;
    }
  }
  .tip{
      .grid{
          grid-template-columns: 100px 100px 100px !important;
        //   grid-template-rows: auto auto;
      }
  }
  .People{
    img {
        position: absolute !important;
        top: 68.5% !important;
        left:29% !important;
      }
      #nomb{
          width: 100% !important;
        //   padding: 10px 80px !important;
      }
  }
  .amount{
      .flex{
          margin: 20px 0;
      }
     .flexi{
         margin-top: 0px;
         margin-bottom: 80px;
     }
     
  }
}
