* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #c5e4e7;
  font-family: "Space Mono";
}

#split {
  text-align: center;
}

.container {
  background-color: white;
  border-radius: 20px;
}

.container .bill {
  padding: 20px;
}

.container .bill .doll #number {
  padding: 10px 20px;
  text-align: right;
  width: 95%;
  border-radius: 5px;
  font-family: "Space Mono";
}

.container .bill .doll img {
  position: absolute;
  top: 118px;
  left: 30px;
}

.container .bill .tip {
  padding-top: 10px;
}

.container .bill .tip .grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 15px;
  -ms-grid-columns: 150px 150px;
      grid-template-columns: 150px 150px;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  padding: 15px 0;
}

.container .bill .tip button {
  padding: 10px 0;
  border-radius: 5px;
  font-family: 'Space Mono';
}

.container .bill .tip #Custom {
  text-align: right;
  padding: 0 10px;
  border-radius: 5px;
}

.container .bill .People #nomb {
  padding: 10px 20px;
  text-align: right;
  width: 95%;
  border-radius: 5px;
  font-family: "Space Mono";
}

.container .bill .People img {
  position: absolute;
  top: 412px;
  left: 30px;
}

.container .amount {
  background-color: #00494d;
  margin: 0 20px;
  border-radius: 10px;
  padding: 20px;
}

.container .amount span {
  color: white;
}

.container .amount small {
  color: #7f9c9f;
}

.container .amount .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .amount .flexi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .amount .tots {
  padding: 20px 0;
}

.container .amount #reset {
  padding: 10px 125px;
  margin: 20px 0;
  background-color: #00494d;
  border-radius: 5px;
  font-family: "Space Mono";
}

@media only screen and (min-width: 1000px) {
  .container {
    margin: 110px 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60vh;
  }
  .doll img {
    position: absolute !important;
    top: 36.5% !important;
    left: 29% !important;
  }
  .doll #number {
    width: 100% !important;
  }
  .tip .grid {
    -ms-grid-columns: 100px 100px 100px !important;
        grid-template-columns: 100px 100px 100px !important;
  }
  .People img {
    position: absolute !important;
    top: 68.5% !important;
    left: 29% !important;
  }
  .People #nomb {
    width: 100% !important;
  }
  .amount .flex {
    margin: 20px 0;
  }
  .amount .flexi {
    margin-top: 0px;
    margin-bottom: 80px;
  }
}
/*# sourceMappingURL=sass.css.map */